= form_for @invoice do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this invoice from being saved:"
      %ul
        - @invoice.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :contact
    = f.text_field :contact
  .field
    = f.label :order_date
    = f.datetime_select :order_date
  .field
    = f.label :shipment_date
    = f.datetime_select :shipment_date
  .field
    = f.label :shipping_address_id
    = f.text_field :shipping_address_id
  .field
    = f.label :billing_address_id
    = f.text_field :billing_address_id
  .field
    = f.label :payment_type
    = f.text_field :payment_type
  .field
    = f.label :carrier
    = f.text_field :carrier
  .field
    = f.label :total
    = f.text_field :total
  .field
    = f.label :tax
    = f.text_field :tax
  .field
    = f.label :shipping_handling
    = f.text_field :shipping_handling
  .field
    = f.label :subtotal
    = f.text_field :subtotal
  .field
    = f.label :invoice_number
    = f.text_field :invoice_number
  .actions
    = f.submit 'Save'
