.page-header
  = link_to addresses_path, class: 'btn btn-default' do
    All Addresses
  = link_to edit_address_path(@address), class: 'btn btn-primary' do
    Edit
  %h1 Show address
%dl.dl-horizontal
  %dt Address 1:
  %dd= @address.address_1
  %dt Address 2:
  %dd= @address.address_2
  %dt City:
  %dd= @address.city
  %dt State:
  %dd= @address.state
  %dt Zip:
  %dd= @address.zip
